{% load static %}
<!DOCTYPE html>
<html>
    <head>
    	<link href="{% static 'bee/css/detailpage.css' %}" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="{% static 'bee/images/3.png' %}" type="image/x-icon">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <meta charset='UTF-8'>
        <title>{{ marafon.marafon_name }}</title>
    </head>
    <body>
    	<header>
    		<a href="{% url 'main' %}"><img class="page-img" src="https://cdn-icons-png.flaticon.com/512/2890/2890539.png", height="70px", width="70px"></a>
    		<span class="title"> {{ marafon.marafon_name }} </span>
    	</header>
    	<div class="main-img">
    		<img src="https://cdn-icons-png.flaticon.com/512/2917/2917805.png", height="200px", width="200px">
    	</div>
    	<div class="main-container">
    		<div class="sub-cont">
				<div class="item main-title">Как произайдёт оплата?</div>
				<div class="item">Нужно будет запонить форму на сайте</div>
				<div class="item">После ты получишь приглашение в общую группу</div>
				<div class="item">Мест осталось {{ marafon.total_place }}</div>
				<div class="item">Описание {{ marafon.marafon_items }}</div>
				<div class="item">Стоимость {{ marafon.price }}</div>

				<div class="item o">Старт набора - ..</div>

				<div class="item o">Длительность - с .. до ..</div>
	
				<a href='{% url "marafonaddplace" marafon.slug %}'><button class="item button" type='submit'>Открыть форму оплаты</button></a>
			</div>
		</div>

    </body>
</html>